<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joelkreutzwieser.apps.keepass" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationBase"
        android:allowBackup="true"
        android:icon="@mipmap/keepass_64x64"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".groupActivity.GroupViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".searchActivity.SearchActivity"
            android:label="@string/title_activity_search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".groupActivity.GroupViewActivity" />
        </activity>
        <activity
            android:name=".entryActivity.EntryViewActivity"
            android:label="@string/title_activity_entry_view"
            android:parentActivityName=".groupActivity.GroupViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".groupActivity.GroupViewActivity" />
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-l0aikfwccrj0zln" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fileBrowser.FileBrowserActivity"
            android:label="@string/title_activity_dropbox_file" >
        </activity>
        <receiver android:name=".NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.joelkreutzwieser.apps.keepass.COPY_ACTION"/>
                <action android:name="com.joelkreutzwieser.apps.keepass.PASS_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
